.missionSection {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: rgba(169, 169, 169, 0.571);
}

.mission__container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .mission__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .mission__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ==========------ Top ------======== */

.mission__header {
  text-align: center;
  max-width: 48rem;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  background-color: rgba(192, 234, 255, 0.817);
  border-radius: 10px;
  border: 1px solid black;
  padding: 1rem;
}

.ourMission {
  display: inline-block;
  color: #001f3f;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.mission__title {
  font-size: 1.875rem;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .mission__title {
    font-size: 2.25rem;
  }
}

.mission__description {
  font-size: 1.125rem;
  color: #475569;
  line-height: 1.625;
}

/* ==========----- Buttom -------======== */
.missionn__values {
  display: grid;
  gap: 2rem;
}

@media (min-width: 640px) {
  .missionn__values {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .missionn__values {
    grid-template-columns: repeat(4, 1fr);
  }
}

.mission__value-card {
  background-color: rgba(255, 251, 201, 0.865);
  border-radius: 9px;
  padding: 2rem;
  height: 100%;
  border: 1px solid #000000;
  transition: all 300ms ease;
}

.mission__value-card:hover {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.9);
  transform: translate(-0.25rem, -0.25rem);
}
