.missionSection {
  --primary1: #ffd200;
  --primary2: #00539f;
  --secondary1: #003c71;
  --secondary2: #bdbdbd;
  --secondary3: #000000;
  --secondary4: #eee8c5;
  --secondary5: #00a0df;
  --secondary6: #ffffff;
  --secondary7: #333;
  --secondary8: rgba(0, 0, 0, 0.7);
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: var(--secondary6);
}

.mission__container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .mission__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .mission__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ==========------ Top ------======== */

.mission__header {
  text-align: center;
  max-width: 48rem;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  background-color: var(--secondary4);
  border-radius: 10px;
  border: 1px solid black;
  padding: 1rem;
}

.ourMission {
  display: inline-block;
  color: var(--secondary3);
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.mission__title {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--secondary3);
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .mission__title {
    font-size: 2.25rem;
  }
}

.mission__description {
  font-size: 1.125rem;
  color: var(--secondary3);
  line-height: 1.625;
}

/* ==========----- Buttom -------======== */
.missionn__values {
  display: grid;
  gap: 2rem;
}

@media (min-width: 640px) {
  .missionn__values {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .missionn__values {
    grid-template-columns: repeat(4, 1fr);
  }
}

.mission__value-card {
  background-color: var(--secondary4);
  border-radius: 9px;
  padding: 2rem;
  height: 100%;
  border: 1px solid #000000;
  transition: all 300ms ease;
}

.mission__value-card:hover {
  box-shadow: 4px 4px 0px 0px var(--secondary3);
  transform: translate(-0.25rem, -0.25rem);
}

.mission__icons {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(255, 255, 240);
  border-radius: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  transition: transform 200ms ease;
}

.mission__icons:hover {
  transform: scale(1.1);
}

.mission__icon {
  width: 1.75rem;
  height: 1.75rem;
}

.value-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--secondary3);
  margin-bottom: 0.75rem;
}

.value-description {
  color: var(--secondary3);
  line-height: 1.625;
}
