.LeadershipSection {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #e7e7e7;
}

/* --- Container for Items */
.leadership__container {
  max-width: 80rem;
  margin: 0 auto; /* To center */
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .leadership__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .leadership__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* --- Top part of the leadership section */
.leadership__header {
  text-align: center;
  max-width: 48rem;
  margin: 0 auto auto;
  margin-bottom: 4rem;
  background-color: #eee8c5;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
}

.leadership__title {
  font-size: 1.875rem;
  font-weight: 600;
  color: black;
  margin-top: 1.5rem;
}

@media (min-width: 640px) {
  .leadership__title {
    font-size: 2.25rem;
  }
}

.leadership__description {
  font-size: 1.125rem;
  color: black;
  line-height: 1.625;
}

/* Down part: Leaders card */

.leaders__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  /* margin-bottom: 3rem; */
}

@media (max-width: 640px) {
  .leaders__container > :nth-child(n + 2) {
    display: none;
  }
}

@media (min-width: 640px) {
  .leaders__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .leaders__container > :nth-child(n + 3) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .leaders__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .leaders__container > :nth-child(n + 1) {
    display: block;
  }
}

.leaders__card-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.75rem;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.leaders__card-profile:hover {
  box-shadow: 4px 4px 0 0 rgba(189, 189, 189, 0.963);
  transform: translateY(-4px);
}

.leaders__image-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
}

.leader__info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.leader__info h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #003c71;
  margin: 0;
  line-height: 1.3;
}

.leader__info p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
}

.leader__info p:first-of-type {
  font-weight: 500;
  font-size: 1rem;
}

.leaders__view-all {
  text-align: center;
  margin-top: 2rem;
}

.leaders__view-all a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: rgba(255, 208, 0, 0.858);
  color: #003c71;
  text-decoration: none;
  font-weight: 500;
  transition: all 300ms ease;
}

.leaders__view-all a:hover {
  transform: translateY(-4px);
  background-color: #003c71;
  color: #ffd200;
  box-shadow: 4px 4px 0 0 #ffd200;
}

.leaders__view-all a svg {
  transition: all 100ms ease-in;
}

.leaders__view-all a:hover svg {
  transform: translateX(6px);
}
