.footer {
  background-color: #eee;
  color: #009ddb;
  border-top: 0.4rem solid #ffd700;
}

.footer__container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer__container-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer__container-top {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ======= About ==== */
.footer-about__container h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: inherit;
}

.footer-about__container p {
  font-size: 0.875rem;
  font-weight: 500;
  color: inherit;
  line-height: 1.625;
}

/* =========== Quick Links */
.footer-quickLinks__container h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: inherit;
}

.footer-quickLinks_subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* @media (min-width: 768px) {
  .footer-quickLinks_subcontainer {
    grid-template-columns: repeat(4, 1fr);
  }
} */

.footer-quickLinks__nav-link {
  text-decoration: none;
  color: inherit;
}

.footer-quickLinks__nav-link:hover {
  text-decoration: underline;
}

/* ===== Connect ========= */
.footer-connect__container h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: inherit;
}

.footer__icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer__icons a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  color: inherit;
  background-color: rgba(0, 157, 219, 0.121);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}

.footer__icons a:hover {
  background-color: rgba(0, 157, 219, 0.32);
}

.footer__container-divider {
  border-top: 1px solid rgba(0, 157, 219, 0.701);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer__container-buttom {
  text-align: center;
  margin-bottom: 1rem;
}

.footer__container-buttom p {
  font-size: 0.75rem;
  line-height: 1.625;
  margin-bottom: 0.5rem;
}
