.ContactSection {
  padding-top: 6rem;
  padding-bottom: 6rem;

  background-color: #00539f;
}

.Contact__container {
  max-width: 80rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .Contact__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .Contact__container {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-template-columns: 0.9fr 0.7fr;
  }
}

/* Left Part */
.Contact__container-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #ffffff;
}

.Contact__container-info {
  display: flex;
  flex-direction: column;
}

.Contact__container-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.Contact__container-title span {
  color: #ffd200;
}

.connect__withUS {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.connect__withUS-Social {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.connect__withUS-Social a {
  display: grid;
  width: 2.5rem;
  height: 2.5rem;
  align-content: center;
  justify-content: center;
  color: #ffd200;
}

.connect__withUS-Social a svg {
  transform: scale(1.5);
}

.connect__withUS-Social div p:first-child {
  color: #bdbdbd;
  line-height: 1.25;
}

/* Right Part */
.Contact__container-right {
  --primary: #ffd200;
  --foreground: #003c71;
  --border: #00539f;
  --background: #bdbdbd;
  --background2: #ffffff;
  background-color: var(--background);
  border-radius: 0.25rem;
  padding: 2rem;
}

.Contact-form-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--foreground);
  margin-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--foreground);
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border);
  background-color: var(--background2);
  font-family: inherit;
  font-size: 1rem;
  transition: all 200ms ease;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--border);
  box-shadow: 0 0 0 3px hsla(209, 100%, 31%, 0.2);
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: var(--background);
  font-style: italic;
}

.form-textarea {
  resize: none;
  min-height: 120px;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.5rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--foreground);
  transition: all 0.2s ease;
}

.btn-submit:hover {
  background-color: var(--foreground);
  transform: translateY(-4px);
  color: var(--primary);
  box-shadow: 4px 4px 0 0 var(--primary);
}
