/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: all 300ms;
  background-color: #00598f;
}

/* Container */

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* header__items: */

.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
}

.header__logoBrand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: fit-content;
}

/* header logo */

.header__logo {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1);
}

.header__brand {
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
}

.header__brand h1 {
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.header__brand p {
  font-size: 0.75rem;
  font-weight: 900;
  margin: 0;
  color: #ffffff;
}

/* Header Nav container */
.header__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__nav-link {
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}
