/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: all 300ms ease;
  background-color: transparent;
  /* background-color: #00598f; */
  display: block;
}

@media (max-width: 640px) {
  .header {
    background-color: #00539f;
    border-bottom: 0.125rem solid #ffd200;
  }
}

/* When scrolled */
@media (min-width: 640px) {
  .header--scrolled {
    background-color: #00539f;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
}
.header--scrolled {
  background-color: #00539f;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

@media (min-width: 640px) {
  .header {
    /* border-bottom: 0.4rem solid #ffd700; */
    border-bottom: none;
  }
}

@media (min-width: 1024px) {
  .header {
    border-bottom: none;
  }

  .header--scrolled {
    border-bottom: 0.2rem solid #ffd200;
  }
}

/* Container */

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 300ms ease;
  border-bottom: none;
}

.container--scrolled {
  border-bottom: 0.2rem solid #ffd200;
}

/* --- Responsive to potrait Tablet */
/* Tablets and computer screen */
@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: none;
  }
}

/* header__items: */

.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
}

.header__logoBrand {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: fit-content;
}

/* ----- Resonsive Tablet and laptop */
@media (min-width: 768px) {
  .header__logoBrand {
    gap: 0.5rem;
  }
}

/* header logo */

.header__logo {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition-property: color, background-color, border-color, fill, stroke;
  transition-duration: 150ms; */
}

.header__logo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1);
}

/* ----- Responsive ------------ */
@media (min-width: 768px) {
  .header__logo img {
    transform: scale(1);
  }
}

.header__brand {
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
}

/* Phone */
.header__brand h1 {
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

/*  ----- Responsive ---- */
/* Tablet up and laptop */
@media (min-width: 768px) {
  .header__brand h1 {
    font-size: 0.85rem;
    letter-spacing: 0.01em;
  }
}

.header__brand p {
  font-size: 0.75rem;
  font-weight: 900;
  margin: 0;
  color: #ede8e8;
}
.header__brand p:hover {
  color: #ffffff;
}

/* Header Nav container */
.header__nav {
  display: none;
}

/* Responsive */
@media (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .header__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.header__nav-link {
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #eae0e0;
}

.header__nav-link:hover {
  color: #ffffff;
}

/*========= Call to action ============= */

.header__cta {
  display: none;
  visibility: visible;
}

@media (min-width: 768px) {
  .header__cta {
    display: block;
    margin-left: 1rem;
  }
}

/* ============= -- Testing Ground -- ========== */
.header__cta-button {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.625rem 1.5rem;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__cta-button {
  /* Variables */
  --bg: #ffd700;
  --hover-bg: #fcea85;
  --hover-text: #00324d;
  --hover-color: #d4c468;

  /* Default state*/
  color: #00539f;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  /* background: var(--bg); */
  transition: 0.2s;
  transform: translate(0rem, -0.25rem);
  background: #ffd200;
  box-shadow: 0rem 0.125rem var(--bg);
}

.header__cta-button:hover {
  background: var(--hover-color);
}

.header__cta-button:active {
  transform: translate(0);
  box-shadow: none;
}

/* --------------------------------------------- */
/* ======================================= */
/* ====== Mobile ========================= */

.header__mobile-toggle {
  padding: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transform: scale(1.5);
}

@media (min-width: 768px) {
  .header__mobile-toggle {
    display: none;
  }
}

/* ==== Mobile-Navigation ===  */
.header__mobile-menu {
  position: absolute;
  top: 100%; /* Position below header */
  left: 0;
  right: 0;
  background-color: rgba(0, 89, 143, 0.8);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 50;

  /* border-top: 1px solid rgba(255, 215, 0, 0.5); */
}

@media (min-width: 768px) {
  .header__mobile-menu {
    display: none;
  }
}

.header__mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header__mobile-link {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #eae0e0;
  font-weight: 700;
  transition: color 0.2s ease;
}

.header__mobile-link:hover {
  color: #ffffff;
  transform: translateX(2px);
}

.header__mobile-cta {
  text-decoration: none;
  color: #00598f;
  background-color: #ffd700;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.625rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  text-align: center;
  display: block;
}

.header__mobile-cta:hover {
  background-color: #fff200;
}
