.eventsSection {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #eee8c5;
}

/* --- Container for Items ---- */
.events__container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .events__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024) {
  .events__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*  --- Top Container ---- */

.events__header {
  text-align: center;
  max-width: 48rem;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
}
